/*=====RESET=====*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #000;
}

body strong {
  background: var(--accent);
  padding: 1px 2px;
  color: #fff;
}

:root {
  --bg: #FFFFFF;
  --bg-soft: #CACACA;
  --text-primary: #000000;
  --text-muted: #4D4D4D;
  --accent: #457AFF;
  --accent-soft: #ACC4FF;
}

.devider {
  border-bottom: 0.3px solid #4747478C;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/*--btn--*/

.btn-primary {
  background: var(--accent);
  padding: 15px 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 666;
  transition: all 0.4s ease;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.btn-outline {
  background: transparent;
  border: 1.5px solid var(--accent);
  padding: 13.5px 37.5px;
  color: #000000;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 666;
  transition: all 0.4s ease;
  display: inline-block;
  border-radius: 5px;
}

.btn-outline:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.20);

}
/*======INDEX.HTML=======*/

.nav {
  background: transparent;
  backdrop-filter: blur(15px);
  color: var(--bg);
  padding: 30px 20px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3px solid rgba(60, 60, 60, 0.39);
}

.logo {
  font-weight: 777;
  color: #000000;
}

.logo span {
  color: var(--accent);
}

.links {
  color: var(--accent);
  font-weight: 444;
  text-decoration: none;
  margin-left: 5px;
  transition: all 0.3s ease;
}

.links:active {
  color: var(--text-muted);
}

.cta-1 {
  background: var(--accent);
  padding: 5px 8px;
  color: #FFFFFF;
  font-weight: 777;
  text-decoration: none;
  border-radius: 999px;
  transition: all 0.3s ease;
  margin-left: 5px;
}

.cta-1:active {
  transform: translateY(-2px);
}

/*=====HERO=====*/


.hero {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    radial-gradient(500px 500px at 0% 0%, #90ABFF, #FFFFFF);

  background-size:
    64px 64px,
    64px 64px,
    cover;

  width: 100%;
  height: 100vh;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  padding: 20px;
}

.hero h1 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.hero span {
  color: #FFFFFF;
  background: var(--accent);
  padding: 2px 10px;
  margin: 0;
  line-height: 1;   
}

.hero p {
  font-weight: 555;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 25px;
}

.hero strong {
  background: var(--accent);
  color: #fff;
  font-weight: 555;
  padding: 1px 2px;
}


/*=====WORK.HTML=====*/

.works {
  padding: 140px 20px 80px;
  max-width: 1100px;
  margin: 0 auto;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, #D5D8FF 0%, #FFFFFF 30%);

  background-size:
    64px 64px,
    64px 64px,
    cover;
}

.work-intro {
  padding: 8px 15px;
}

.work-intro h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

.work-intro p {
  font-size: 18px;
  max-width: 520px;
}


.works strong {
  background: var(--accent);
  padding: 2px 2px;
  color: #fff;
}

.project {
  margin: 80px 0;
}

.project h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.project p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 520px;
}

.project img {
  width: 100%;
  margin-top: 40px;
  border-radius: 14px;
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.57);
}

.workCTA-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 50vh;
  width: 100%;
}

/*====ABOUT.HTML====*/

.about {
  max-width: 900px;
  margin: 0 auto;
  padding: 120px 15px;
  text-align: left;
  line-height: 1.1;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, #D5D8FF 0%, #FFFFFF 30%);

  background-size:
    64px 64px,
    64px 64px,
    cover;

}

.about h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.about h2 {
  font-size: 35px;
  margin-bottom: 10px;
}


.about-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*====CTA.html====*/

.cta {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px
    ),
  linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px
    )
  ;
  background-size:
    64px 64px,
    64px 64px,
    cover;
    
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  align-items: center;
}